body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 30px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.todo-list-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  padding: 0;
}

.todo-list-container ul {
  max-height: 300px; /* または任意の値 */
  overflow-y: auto;
}

li {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

li:last-child {
  border-bottom: none;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #0056b3;
}

input[type="text"], input[type="date"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

form {
  margin-top: 20px;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-container button {
  cursor: pointer;
  padding: 10px;
  margin: 5px;
}

.commit-list-container {
  background-color: #f4f4f4;
  border-radius: 8px;
  overflow-y: auto;
  max-height: 300px;
  width: 400px;
  margin: auto;
}

.commit-list-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.commit-list-container li {
  background-color: #fff;
  margin: 10px;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.commit-list-container li p {
  margin: 0;
  padding: 0;
  color: #555;
  font-family: 'Arial', sans-serif;
}


